@font-face {
    font-family: 'Arial Regular';
    src: url('../fonts/ArialMT.eot');
    src: url('../fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ArialMT.woff') format('woff'),
    url('../fonts/ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Bold';
    src: url('../fonts/Arial-BoldMT.eot');
    src: url('../fonts/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arial-BoldMT.woff') format('woff'),
    url('../fonts/Arial-BoldMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Black';
    src: url('../fonts/Arial-Black.eot');
    src: url('../fonts/Arial-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arial-Black.woff') format('woff'),
    url('../fonts/Arial-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}